<!-- Table 'node' edit -->
<br/>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
<!-- Name -->
<div class="form-group">
 <label class="control-label"><#LANG_TITLE#><span class='support' tabindex="1" data-title="<#LANG_HELP_TITLE#>">
 <i class="glyphicon glyphicon-info-sign"></i>
 </span></label>
 <div class="controls"><input  type="text" name="title" value="[#TITLE#]" class="form-control input"></div>
</div>
<!-- DESCRIPTION -->
<div class="form-group">
 <label class="control-label"><#LANG_DESCRIPTION#><span class='support' tabindex="1" data-title="<#LANG_HELP_DESCRIPTION#>">
 <i class="glyphicon glyphicon-info-sign"></i>
 </span></label>
 <div class="controls"><input  type="text" name="description" value="[#DESCRIPTION#]" class="form-control input"></div>
</div>
<!-- PRIORITY -->
<div class="form-group">
 <label class="control-label"><#LANG_PRIORITY#></label>
 <div class="controls"><input  type="text" name="priority" value="[#PRIORITY#]" class="form-control input"></div>
</div>
<!-- ACCESS -->
<div class="form-group">
	<label class="control-label"><#LANG_ACCESS_CONTROL#><span class='support' tabindex="1" data-title="<#LANG_HELP_ACCESS_CONTROL#>">
 <i class="glyphicon glyphicon-info-sign"></i>
 </span></label>
	<div class="controls">
		<select name="select_access" id="access" class="form-control" onchange="OnChangeAccess(this);">
            <option value="0"[#if ACCESS="0"#] selected[#endif#]><#LANG_TLG_DISABLE#></option>
            <option value="1"[#if ACCESS="1"#] selected[#endif#]><#LANG_TLG_ONLY_ADMIN#></option>
            <option value="2"[#if ACCESS="2"#] selected[#endif#]><#LANG_TLG_ALL#></option>
            <option value="3"[#if ACCESS="3"#] selected[#endif#]><#LANG_TLG_ALL_NO_LIMIT#></option>
        </select>
	</div>
</div>	

<script type="text/javascript">
	function OnChangeAccess (select) {    
        var user = 0;
        var admin = 0;
        if (select.value==1) admin = 1;
        if (select.value==2) { admin = 1; user = 1};
        
        var i;
        var x = document.getElementsByClassName("admin");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = (admin==1) ? 'block' : 'none';
        }
        var x = document.getElementsByClassName("user");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = (user==1) ? 'block' : 'none';
        }
        var fDivLevel = document.getElementById('list_users');
        if (select.value==0 || select.value==3)
        fDivLevel.style.display = 'none';
        else
        fDivLevel.style.display = 'block';
    }
</script> 

<div class="form-group" id="list_users">
	<label class="control-label"><#LANG_MODULE_USERS#></label>
	<div class="controls">
        [#begin LIST_ACCESS#]
        <div class="[#if ADMIN='1'#] admin[#else#] user[#endif#]">
            <label><input class="users" type="checkbox" id=[#ID#] name="ACCESS_USER" value="[#ACCESS_USER#]"[#if ACCESS_USER='1'#] checked[#endif#] onchange="OnChangeChecked();">[#NAME#]</label>
        </div>
        [#end LIST_ACCESS#]
	</div>
</div>	
<script type="text/javascript">
	function OnChangeChecked () {    
        var i;
        var list="";
        var x = document.getElementsByClassName("users");
        for (i = 0; i < x.length; i++) {
            if (x[i].checked)
            {
                if (list!="")list = list + ",";
                list = list + x[i].id;
            }
        }
        document.getElementById('users_id').value = list;
    }
</script> 
<script type="text/javascript">  
	OnChangeAccess(document.getElementById('access'));
    OnChangeChecked();
</script> 

<div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_TLG_SHOW_COMMAND#></label>
        <div class="controls">
        <select name="show_mode" class="form-control" onchange="OnChangeShowMode(this);">
            <option value="1"[#if SHOW_MODE="1"#] selected[#endif#]><#LANG_TLG_SHOW#>
            <option value="2"[#if SHOW_MODE="2"#] selected[#endif#]><#LANG_TLG_HIDE#>
            <option value="3"[#if SHOW_MODE="3"#] selected[#endif#]><#LANG_TLG_CONDITION#>
        </select>
        </div>
</div>
<script type="text/javascript">
	function OnChangeShowMode (select) {    
        var fDivLevel = document.getElementById('condition_block_new');
        fDivLevel.style.display = (select.value==3) ? 'block' : 'none';
    }
</script> 

<div id="condition_block_new" [#if SHOW_MODE!="3"#] style="display:none"[#endif#]>
   <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_LINKED_OBJECT#><#LANG_HCB#>linked_object<#LANG_HCE#></label>
        <div class="controls">
                <input type="text" class="form-control" name="linked_object_new" id="linked_object_new" size="10" value="[#LINKED_OBJECT#]">
        </div>
        </div>
     
        <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_LINKED_PROPERTY#><#LANG_HCB#>linked_property<#LANG_HCE#></label>
        <div class="controls">
                 <input type="text" class="form-control" name="linked_property_new" id="linked_property_new" size="10" value="[#LINKED_PROPERTY#]">
        </div>
        </div>
        
    <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_CONDITION#></label>
        <div class="controls">
         <select name="condition_new" class="form-control">
      <option value="1"[#if CONDITION="1"#] selected[#endif#]>=
      <option value="2"[#if CONDITION="2"#] selected[#endif#]>&gt;
      <option value="3"[#if CONDITION="3"#] selected[#endif#]>&lt;
      <option value="4"[#if CONDITION="4"#] selected[#endif#]>&lt;&gt;
     </select>
        </div>
        </div>

    <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_VALUE#></label>
        <div class="controls">
                 <input type="text" class="form-control" name="condition_value_new" size="10" value="[#CONDITION_VALUE#]">
        </div>
        </div>
  
   
  </div> 
  
  [#module name="linkedobject" object_field="linked_object_new" property_field="linked_property_new"#] 

<!-- CODE (text) -->
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_CODE#>:</label>
        <div class="col-lg-5 [#if ERR_CODE#]alert-danger[#endif#]">
			[#if ERRORS!=""#]<br><font color='red'>[#ERRORS#]</font><br>[#endif ERRORS#]
            [#module name="blockly_code" system_name="tlgaction<#ID#>" code_field="code" action=""#] 
			<div id="code_area">
			  <textarea name="code" id="code" rows=30 cols=100 class=" form-control field span8">[#CODE#]</textarea>
			</div>
		</div>
</div> 


<div class="form-actions">
 <button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" id="users_id" name="users_id" value="<#USERS_ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
</div>
</fieldset>
</form>
<a href="?view_mode=export_command&id=[#ID#]" class="btn btn-default" title="<#LANG_EXPORT#>"><i class="glyphicon glyphicon-export"></i><#LANG_EXPORT#></a>
<hr/>
