<div class="panel panel-info">
	<div class="panel-heading">Регистрация бота</div>
	<div class="panel-body">
		<p>Для работы модуля необходимо зарегистрировать бота и получить его уникальный id, являющийся одновременно и токеном. Для этого в Telegram существует специальный бот — @BotFather.
<br>
Пишем ему /start и получаем список всех его команд. 
Первая и главная — /newbot — отправляем ему и бот просит придумать имя нашему новому боту. Единственное ограничение на имя — в конце оно должно оканчиваться на «bot». В случае успеха BotFather возвращает токен бота и ссылку для быстрого добавления бота в контакты, иначе придется поломать голову над именем.
<br>

В настройки модуля вносится токен бота вида "123456780:AAHeВ7UcDWvEovvcFaMfUrUVPupNORHWD_k"</code></p>
	</div>

</div>
<div class="panel panel-info">
	<div class="panel-heading">Вызов модуля в своих скриптах/методах</div>
	<div class="panel-body">
		<p>Для отправки текстовых сообщений<br>
		<code style="display:block">include(DIR_MODULES . 'telegram/telegram.class.php');<br>
        $telegram_module = new telegram();<br>
        $telegram_module->sendMessageToUser(139809588 ,"test message");<br>
        $telegram_module->sendMessageToAdmin("test message to admin");<br>
        $telegram_module->sendMessageToAll("test message to all");</code></p>
	</div>
    	<div class="panel-body">
		<p>Для отправки изображений<br>
		<code style="display:block">include(DIR_MODULES . 'telegram/telegram.class.php');<br>
        $telegram_module = new telegram();<br>
        $telegram_module->sendImageToUser(139809588 ,'/var/www/images/trees.jpg');<br>
        $telegram_module->sendImageToAdmin('/var/www/images/htc_hero_wallpaper_01.jpg');<br>
        $telegram_module->sendImageToAll('/var/www/images/htc_hero_wallpaper_01.jpg');</code></p>
	</div>

</div>