<br/>
<a href="?view_mode=user_edit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>  
<a href="?update_user_info=1" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> <#LANG_TLG_UPDATE_USER_INFO#></a>
<!-- results -->
[#if RESULT#]
<script type="text/javascript">
	function sendMessage(user_id){ 
        var text = prompt("Input text message:", '');
		if (text == null) return;
	    var url="?sendMessage=1&user="+user_id+"&text="+text;
		$.ajax({  
			url: url,  
			cache: false,  
			success: function(html){  
				alert(html);  
			}  
		});  
	}
</script> 
<!-- search results (list) -->
<form action="?" method="post" name="frmList_telegram" style="padding:0px" class="form">
<table   class="table table-stripped">
<thead>
<tr>
 <th>&nbsp;</th>
 <th>
 <a href="?sortby_user=USER_ID"><#LANG_ID#></a><nobr>
 [#if SORTBY="USER_ID"#](+)[#endif#]
 [#if SORTBY="USER_ID DESC"#](-)[#endif#]</nobr> 
 </th>
 <th>
 <a href="?sortby_user=NAME"><#LANG_NAME#></a><nobr>
 [#if SORTBY="NAME"#](+)[#endif#]
 [#if SORTBY="NAME DESC"#](-)[#endif#]</nobr>
 </th>
 <th><#LANG_TLG_ADMIN#></th>
 <th><#LANG_TLG_SILENT#></th>
 <th><#LANG_TLG_HISTORY#></th> 
 <th><#LANG_TLG_COMMANDS#></th>
 <th><#LANG_TLG_PATTERNS#></th>
 <th><#LANG_TLG_DOWNLOAD#></th> 
 <th><#LANG_TLG_PLAY_VOICE#></th>
 <th>&nbsp;</th>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr class="hover_btn2">
 <td>
     <span tabindex="0" data-toggle="tooltip" data-html="true" data-placement="right" 
            data-title="
            <div class='float-right'>
            <img src='<#ROOTHTML#>cms/cached/telegram/[#USER_ID#].jpg' height='150px' onerror='this.src='<#ROOTHTML#>templates/telegram/img/none.jpg''>
            </div>
            <p style='text-align:left'>ID:<b>[#USER_ID#]</b><br>Name:<b>[#NAME#]</b></p>">
        <img src="<#ROOTHTML#>cms/cached/telegram/[#USER_ID#].jpg" height="30px" style="border-radius: 0 50% 50%;" onerror="this.src='<#ROOTHTML#>templates/telegram/img/none.jpg'">
    </span></td>
 <td><b>[#USER_ID#]</b></td>
 <td>
  [#if NAME!=""#]
   [#NAME#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td>
  [#if ADMIN==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td>  
 <td>
  [#if SILENT==1#]
   <span class="glyphicon glyphicon-volume-off text-danger panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-volume-up text-success panel_icon"></span>
  [#endif#]
 </td>  
 <td>
  [#if HISTORY==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td> 
 <td>
  [#if CMD==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td>
 <td>
  [#if PATTERNS==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td>   
 <td>
  [#if DOWNLOAD==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td>  
 <td>
  [#if PLAY==1#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#endif#]
 </td>  
 <td width="1%" nowrap>
  [#if "<#ACTION#>"=="admin"#]
    <button onclick="sendMessage([#USER_ID#]);return false;" title="Send message" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-flash"></i></button>
    <a href="?view_mode=user_edit&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=user_delete&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_telegram">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->

