<br/>
	<div class="panel panel-info">
		<div class="panel-heading">
		<a href="?tab=history" class="btn btn-default btn-sm" title="Refresh"><i class="glyphicon glyphicon-refresh"></i></a>
		<a href="?tab=history&filter=2,3,4,5" class="btn btn-danger btn-sm" title="Errors"><i class="glyphicon glyphicon-warning-sign"></i></a>
		<a data-toggle="collapse" data-parent="#accordion" href="#reg_stat">Statistics (last [#HISTORY_DAYS#] day)</a>
		</div>
		<div class="panel-body collapse" id="reg_stat">
		<div class="row-flex">
		<div class="col-xs-2"> 
			<div style="white-space: nowrap;"><b>Messages</b>: [#COUNT#]</div>
			<div style="white-space: nowrap;">In: [#COUNT_IN#]</div>
			<div style="white-space: nowrap;">Out: [#COUNT_OUT#]</div>
			<div style="white-space: nowrap;">Out(error): [#COUNT_OUT_ERROR#]</div>
			<div style="white-space: nowrap;">Out(resend): [#COUNT_OUT_RESEND#]</div>
			<div style="white-space: nowrap;">Out(skip): [#COUNT_OUT_SKIP#]</div>
		</div>
		<div class="col-xs-2"> 
			<div><b>Users</b></div>
			[#begin STAT_USERS#]
			<div style="white-space: nowrap;">
			<a href="?tab=history&user_id=[#ID#]"><img src='<#ROOTHTML#>cms/cached/telegram/[#ID#].jpg' style="margin:2px;border-radius: 0 50% 50%;" height='26px' onerror='this.src="<#ROOTHTML#>templates/telegram/img/none.jpg"'>[#KEY#]</a>: [#VALUE#]
			</div>
			[#end STAT_USERS#]
		</div>
		<div class="col-xs-2"> 
			<div><b><#LANG_TYPE#></b></div>
			[#begin STAT_TYPES#]
			<div style="white-space: nowrap;">
				<a href="?tab=history&filter_type=[#KEY#]">
			    [#if KEY == 0#] Unknown[#endif#]
				[#if KEY == 1#] <#LANG_TLG_EVENT_TEXT#>[#endif#]
				[#if KEY == 2#] <#LANG_TLG_EVENT_IMAGE#>[#endif#]
				[#if KEY == 3#] <#LANG_TLG_EVENT_VOICE#>[#endif#]
				[#if KEY == 4#] <#LANG_TLG_EVENT_AUDIO#>[#endif#]
				[#if KEY == 5#] <#LANG_TLG_EVENT_VIDEO#>[#endif#]
				[#if KEY == 6#] <#LANG_TLG_EVENT_DOCUMENT#>[#endif#]
				[#if KEY == 7#] <#LANG_TLG_EVENT_STICKER#>[#endif#]
				[#if KEY == 8#] <#LANG_TLG_EVENT_LOCATION#>[#endif#]
				[#if KEY == 10#] Callback[#endif#]</a>: 
				[#VALUE#]</div>
			[#end STAT_TYPES#]
		</div>
		</div>
		</div>
	</div>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_telegram" style="padding:0px" class="form">
<table   class="table table-stripped">
<thead>
<tr>
 <th style="width:150px">Created</th>
 <th>Direction</th>
 <th><#LANG_TYPE#></th>
 <th>User</th>
 <th>Raw</th>
 <th>Message</th>
 <th>&nbsp;</th>
</tr>
</thead>
<script type="text/javascript">
	function nl2br( str ) {
		if (typeof(str) != 'string') return str
		return str.replace(/([^>])\n/g, '$1<br/>');
	}
	function linkify(text) {
		if (typeof(text) != 'string') return text
		var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
		return text.replace(urlRegex, function(url) {
			return '<a href="' + url + '">' + url + '</a>';
    });
}
	function showRaw(id){
		var url="/ajax/telegram.html?op=get_raw&id="+id;
		$("#raw_info").html('');
		$.ajax({
			url: url,
			cache: false,
			success: function(raw){
				//$("#raw_info").html(raw);
				document.getElementById('raw_info').textContent = raw
				var data = JSON.parse(raw)
				console.log(data)
				var user_id = 0
				var user_name = undefined
				var keyb = ""
				var text = ""
				var prefix = "result"
				var dt = "---"
				var media = ""
				if (data.message)
					prefix = "message"
				if (data[prefix]){
					user_id = data[prefix].chat ? data[prefix].chat.id : "none"
					var user_name = undefined
					if (data[prefix].chat){
						user_name = data[prefix].chat.username ?? data[prefix].chat.first_name
						if (user_name === undefined) 
							user_name = data[prefix].chat.title
					}
					text = data[prefix].text
					if (data[prefix].caption)
						text = data[prefix].caption
					if (data[prefix].sticker)
						text = "Stickers:"+ data[prefix].sticker.set_name+ "<br>Emoji:" +data[prefix].sticker.emoji
					dt = new Date(data[prefix].date * 1000).toLocaleString()
					if (data[prefix].photo)
						media = '<i class="glyphicon glyphicon-picture"></i>'
					if (data[prefix].video)
						media = '<i class="glyphicon glyphicon-facetime-video"></i>'
					if (data[prefix].audio)
						media = '<i class="glyphicon glyphicon-volume-up"></i>'
					if (data[prefix].voice)
						media = '<i class="glyphicon glyphicon-volume-up"></i>'
					if(data[prefix].reply_markup)
					{
						var inline = data[prefix].reply_markup['inline_keyboard']
						inline.forEach(row => {
							keyb += "<div>"
							row.forEach(col => {
								keyb = keyb + '<button type="button" class="btn btn-default" style="width: 150px;" onclick="alert(\'Callback data: '+col.callback_data+'\')">'
								keyb = keyb + col.text
								keyb = keyb + "</button>"
							});
							keyb += "</div>"
						});
					}
				}
				if (data.callback_query)
				{
					user_name = data.callback_query.from.username ?? data.callback_query.from.first_name
					user_id = data.callback_query.from ? data.callback_query.from.id : "none"
					
					text = "Callback query: <b>"+ data.callback_query.data+"</b>"
					dt = new Date(data.callback_query.message.date * 1000).toLocaleString()
				}
				if (data.error_code){
					user_name = 'Error: ' + data.error_code
					text = data.description
				}
				if(data['content'] && data['content'].reply_markup)
				{
					var keyboard = JSON.parse(data['content'].reply_markup)['keyboard']
					console.log(keyboard)
					if (keyboard)
						keyboard.forEach(row => {
							keyb += "<div>"
							row.forEach(col => {
								keyb = keyb + '<button type="button" class="btn btn-default" style="width: 150px;">'
								keyb = keyb + col
								keyb = keyb + "</button>"
							});
							keyb += "</div>"
						});
				}
				document.getElementById('avatar').src = '<#ROOTHTML#>cms/cached/telegram/'+user_id+'.jpg'
				document.getElementById('message_user').textContent = user_name
				document.getElementById('message_time').textContent = dt
				$("#message_media").html(media)
				text = nl2br(text)
				text = linkify(text)
				$("#message_text").html(text)
				$("#message_keyb").html(keyb)
			}
		});
	}
	function highlight(id) {
		var range = document.createRange();
		range.selectNode(document.getElementById(id));
		window.getSelection().removeAllRanges();
		window.getSelection().addRange(range);
	}
	function unsecuredCopyToClipboard(id) {
		highlight(id);
		try {
			document.execCommand('copy');
		} catch (err) {
			console.error('Unable to copy to clipboard', err);
		}
	}
	function copyContent(){
		try {
			if (window.isSecureContext && navigator.clipboard) 
				navigator.clipboard.writeText(document.getElementById('raw_info').textContent);
			else
				unsecuredCopyToClipboard('raw_info');
			console.log('Content copied to clipboard');
		} catch (err) {
			console.error('Failed to copy: ', err);
		}
    }
</script>
<tbody>
[#begin RESULT#]
<tr [#if DIRECTION==2#] class="danger"[#endif DIRECTION#] 
    [#if DIRECTION==3#] class="warning"[#endif DIRECTION#] 
    [#if DIRECTION==4#] class="danger"[#endif DIRECTION#] 
    [#if DIRECTION==5#] class="danger"[#endif DIRECTION#]>
 <td>
  [#if CREATED!=""#]
   [#CREATED#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
  <td>
  [#if DIRECTION!=""#]
    [#if DIRECTION == 0#] In[#endif#]
    [#if DIRECTION == 1#] Out[#endif#]
    [#if DIRECTION == 2#] Out(error)[#endif#]
    [#if DIRECTION == 3#] Out(resend)[#endif#]
    [#if DIRECTION == 4#] Out(skip)[#endif#]
    [#if DIRECTION == 5#] In(error)[#endif#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 <td>
  [#if TYPE!=""#]
    [#if TYPE == 0#] Unknown[#endif#]
    [#if TYPE == 1#] <#LANG_TLG_EVENT_TEXT#>[#endif#]
    [#if TYPE == 2#] <#LANG_TLG_EVENT_IMAGE#>[#endif#]
    [#if TYPE == 3#] <#LANG_TLG_EVENT_VOICE#>[#endif#]
    [#if TYPE == 4#] <#LANG_TLG_EVENT_AUDIO#>[#endif#]
    [#if TYPE == 5#] <#LANG_TLG_EVENT_VIDEO#>[#endif#]
    [#if TYPE == 6#] <#LANG_TLG_EVENT_DOCUMENT#>[#endif#]
    [#if TYPE == 7#] <#LANG_TLG_EVENT_STICKER#>[#endif#]
    [#if TYPE == 8#] <#LANG_TLG_EVENT_LOCATION#>[#endif#]
    [#if TYPE == 10#] Callback[#endif#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td>
  [#if NAME!=""#]
        <span tabindex="0" data-toggle="tooltip" data-html="true" data-placement="right" 
            data-title="
            <div class='float-right'>
            <img src='<#ROOTHTML#>cms/cached/telegram/[#USER_ID#].jpg' height='150px' onerror='this.src='<#ROOTHTML#>templates/telegram/img/none.jpg''>
            </div>
            <p style='text-align:left'>ID:<b>[#USER_ID#]</b><br>Name:<b>[#NAME#]</b></p>">
        <img src="<#ROOTHTML#>cms/cached/telegram/[#USER_ID#].jpg" height="30px" style="border-radius: 0 50% 50%;" onerror="this.src='<#ROOTHTML#>templates/telegram/img/none.jpg'">
    </span>
  [#else#]
   <span style="color:red;"><b>[#USER_ID#]</b></span>
  [#endif#]
 </td>  
 <td>
	<button onclick="showRaw('[#ID#]');" data-toggle="modal" data-target="#raw" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-list-alt"></i></button>
 </td>  
<td>
  [#if MESSAGE!=""#]
   [#MESSAGE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td>
 <a href="?view_mode=history_delete&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
 </td>
 </tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_telegram">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->

<div class="modal fade" id="raw" tabindex="-1" role="dialog" aria-labelledby="raw" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog modal-lg" style="max-width:1200px;">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Message</h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img id="avatar" src='<#ROOTHTML#>cms/cached/telegram/[#USER_ID#].jpg'  width="39" height="39" style="margin:3px;border-radius: 5px;"  onerror="this.src='<#ROOTHTML#>templates/telegram/img/none.jpg'">
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading" id="message_user" style="font-size:16px"></div>
					<div class="panel-body" style="position: relative;padding: 5px;">
						<div id="message_media" style="margin: 10px;"></div>
						<div id="message_text" style="margin: 10px;"></div>
						<div id="message_keyb" style="margin: 10px;"></div>
						<div id="message_time" style="position: absolute;bottom: 0; right:2px; padding:2px;"></div>
					</div>
				</div>
				<hr>
				<div><b>RAW</b></div>
				<div id="raw_info" style="word-wrap:break-word"></div>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="copyContent()">Copy RAW to clipboard</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
