<br/>
<a href="?view_mode=event_edit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a> 
<a class="btn btn-default" href="#event_tools" data-toggle="collapse"><i class="glyphicon glyphicon-wrench"></i> <#LANG_TOOLS#></a>
<br>&nbsp;
<div class="collapse panel panel-default" id='event_tools'>
<div class="panel-heading"><#LANG_IMPORT#></div>
  <div class="panel-body">
    <form action="?" enctype="multipart/form-data" method="post">
		<input type="file" name="file" enctype="multipart/form-data" class="btn btn-default">
		<div class="checkbox">
			<label><input type="checkbox" name="overwrite" value="1"><#LANG_OVERWRITE#></label>
		</div>
		<button type="submit" class="btn btn-default">
			<i class="glyphicon glyphicon-import"></i> <#LANG_IMPORT#>
		</button>
        <input type="hidden" name="view_mode" value="import_event">
    </form>
</div>
</div>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_telegram" style="padding:0px" class="form">
<table   class="table table-stripped">
<thead>
<tr>
 <th>&nbsp;</th>
 <th>
 <a href="?sortby_cmd=TITLE&tab=<#TAB#>"><#LANG_TITLE#></a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </th>
 <th><#LANG_TYPE#></th>
 <th><#LANG_DESCRIPTION#></th>
 <th>&nbsp;</th>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr class="hover_btn2">
  <td width="1%" nowrap>
  [#if ENABLE==0#]
   <span class="glyphicon glyphicon-remove-circle text-danger panel_icon"></span>
  [#else#]
   <span class="glyphicon glyphicon-ok-circle text-success panel_icon"></span>
  [#endif#] 
 </td>
 <td>
  [#if TITLE!=""#]
   [#TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
  <td>
  [#if TYPE_EVENT!=""#]
    [#if TYPE_EVENT == 1#] <#LANG_TLG_EVENT_TEXT#>[#endif#]
    [#if TYPE_EVENT == 2#] <#LANG_TLG_EVENT_IMAGE#>[#endif#]
    [#if TYPE_EVENT == 3#] <#LANG_TLG_EVENT_VOICE#>[#endif#]
    [#if TYPE_EVENT == 4#] <#LANG_TLG_EVENT_AUDIO#>[#endif#]
    [#if TYPE_EVENT == 5#] <#LANG_TLG_EVENT_VIDEO#>[#endif#]
    [#if TYPE_EVENT == 6#] <#LANG_TLG_EVENT_DOCUMENT#>[#endif#]
    [#if TYPE_EVENT == 7#] <#LANG_TLG_EVENT_STICKER#>[#endif#]
    [#if TYPE_EVENT == 8#] <#LANG_TLG_EVENT_LOCATION#>[#endif#]
    [#if TYPE_EVENT == 9#] Callback[#endif#]
    [#if TYPE_EVENT == 10#] Pool answer[#endif#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 <td>
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>  
 <td width="1%" nowrap>
  [#if "<#ACTION#>"=="admin"#]
    <a href="?view_mode=event_edit&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=event_delete&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_telegram">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?tab=<#TAB#>&view_mode=<#VIEW_MODE#>&mode=<#MODE#>&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->

