<!-- table telegram search -->
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">О модуле&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>

<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Telegram bot</h4>
			</div>
			<div class="modal-body">
				<p> Модуль Telegram бота.<br>
				Обсуждение модуля <a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=2768" target="_blank">здесь</a>.<br>
				<hr size="1">
				Поддержать автора материально:
				<ul>
					<li>Yandex: 410012076838296</li>
					<li>WebMoney: R366396529511</li>
				</ul>
				</p>
				<p class="float-left"></p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@Eraser :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div>
 Telegram  <a class="btn btn-default" href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a>   
 &nbsp;
</div>

<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label">Telegram token:</label>
 <div class="controls"><input type="text" name="tlg_token" value="<#TLG_TOKEN#>" class="input"></div>
</div>
<label class="control-label">"<#TLG_test#>"</label>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
<br/>

<ul class="nav nav-tabs">
 <li [#if TAB=="" || TAB=="users"#] class="active"[#endif#]><a href="?tab=users">Users</a> </li>
 <li [#if TAB=="cmd"#] class="active"[#endif#]><a href="?tab=cmd">CMD</a> </li> 
 <li [#if TAB=="log"#] class="active"[#endif#]><a href="?tab=log"><#LANG_GENERAL_EVENTS_LOG#></a> </li> 
</ul> 

[#if TAB="users" || TAB==""#]
  [#inc search_users.html#] 
[#endif#] 
[#if TAB="cmd"#]
  [#inc search_cmd.html#] 
[#endif#] 
[#if TAB="log"#]
  [#inc search_log.html#] 
[#endif#] 